@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;

}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
  }


body{
    background-color: #B7C4CE;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#formContainer{
    display: flex;
    width: 830px;
    height: 600px;
    border-radius: 20px;
    background: #D3DADF;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 5%;

}

button, input{
    cursor: pointer;
}

/*Lado esquerdo*/
.login{
    width: 415px;
    height: 600px;
    flex-shrink: 0;
    background: #334745;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #D3DADF;

}

.txts{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 218px;
    gap: 20px;
}

.txts h1{
    width: 282px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 90.5%; /* 43.44px */
    letter-spacing: -2.64px;
}

.txts p{
    display: flex;
    width: 286px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 90.5%; /* 11.765px */
    letter-spacing: -0.715px;
}

.btnLogar{
    color: #D3DADF;
    width: 180px;
    height: 50px;
    background-color: #334745;
    border-radius: 25px;
    border: 2px solid #D3DADF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.32px;
    filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.25));
    transition-property: all;
}


/*Lado direito*/
.criar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 830px;
    height: 600px;
  

}

.content1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.criar h1{
    color: #334745;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(51, 71, 69, 0.25);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.64px;
}

.criar p{
    color: #334745;
    text-align: center;
    text-shadow: 3px 2px 4px rgba(51, 71, 69, 0.25);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
}

.infos{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center;
}

.infos .dados{
    border: none;
    width: 290px;
    height: 30px;
    flex-shrink: 0;   
    border-radius: 8px;
    background: #B7C4CE;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: text;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding: 12px;
    position: relative;

}

.btnCriar{
    margin-top: 10px;
    color: #334745;
    width: 180px;
    height: 50px;
    background-color: #D3DADF;
    border-radius: 25px;
    border: 2px solid #334745;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.32px;
    filter: drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.25));
    transition-property: all;
    

}

.btnCriar:hover, .btnLogar:hover{
    
}

.infos input::placeholder{
    color: rgba(51, 71, 69, 0.70);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
}

.infos input:focus{
    border: 0;
    outline: 0;
    
}





.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 258px;
    height: 36px;
    filter: drop-shadow(3px 2px 4px rgba(51, 71, 69, 0.25));
   
}

.icones button{
    width: 41px;
    height: 35px;
    border-radius: 100px;
    background: #334745;
    border: none;
}

.sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgba(154, 210, 205, 0.25);
}

#fb{

    box-shadow: 0px 0px 4px 0px rgba(154, 210, 205, 0.25);
}
